doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title ABQRVerifier - Unofficial COVID19 QR Code Verifier
    body
        nav.navbar
            header.navTitle
                .title ABQRVerifier
                #subtitle.subtitle Unofficial COVID-19 Vaccine QR Code Verifier
        main.content
            .videoContainer
                #videoPlaceholder.videoPlaceholder
                    #startupMessage.message
                        span.large &#128247;
                        br
                        | Unable to use camera
                        br
                        span.small (might be loading)
                    #loadingMessage(hidden).message
                        span.large &#x231B;
                        br
                        | Loading video...
                canvas#canvas.scanVideo(width=640 height=480)
            .outputContainer
                #output.message
